YarlHospitalWPF/YarlHospitalWPF/Connected Services/YarlHospital_Ref/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53000/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/YarlHospitalWCF" />
  <xs:element name="Add_Patient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dob" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tele" type="xs:int" />
        <xs:element minOccurs="0" name="mob" type="xs:int" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_PatientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_patients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_patientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/YarlHospitalWCF" minOccurs="0" name="get_patientsResult" nillable="true" type="q1:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_patient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dob" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tele" type="xs:int" />
        <xs:element minOccurs="0" name="mob" type="xs:int" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_patientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="view_patient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="view_patientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/YarlHospitalWCF" minOccurs="0" name="view_patientResult" nillable="true" type="q2:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/YarlHospitalWCF" minOccurs="0" name="searchResult" nillable="true" type="q3:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="search_patient_name">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="search_patient_nameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/YarlHospitalWCF" minOccurs="0" name="search_patient_nameResult" nillable="true" type="q4:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="search_nic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nic" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="search_nicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/YarlHospitalWCF" minOccurs="0" name="search_nicResult" nillable="true" type="q5:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_Appointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="did" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tele" type="xs:int" />
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_AppointmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Appointment_List">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Appointment_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/YarlHospitalWCF" minOccurs="0" name="Get_Appointment_ListResult" nillable="true" type="q6:ArrayOfAppointment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Appoinment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="did" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tele" type="xs:int" />
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_AppoinmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_drug">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="drugID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="drugName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SciName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateManf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateExp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="price" type="xs:int" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_drugResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrugsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/YarlHospitalWCF" minOccurs="0" name="GetDrugsResult" nillable="true" type="q7:ArrayOfDrug" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Drug">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="drugID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="drugName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SciName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateManf" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateExp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="price" type="xs:int" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_DrugResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_Treatement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fullname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="visitdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diagnos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nxtvisitdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nxtvisittime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="drugused" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timesperday" type="xs:int" />
        <xs:element minOccurs="0" name="numofdays" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_TreatementResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Treatements">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_TreatementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/YarlHospitalWCF" minOccurs="0" name="Get_TreatementsResult" nillable="true" type="q8:ArrayOfTreatment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Treatement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fullname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="visitdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diagnos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nxtvisitdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nxtvisittime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="drugused" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timesperday" type="xs:int" />
        <xs:element minOccurs="0" name="numofdays" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_TreatementResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_doctor_list">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_doctor_listResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/YarlHospitalWCF" minOccurs="0" name="get_doctor_listResult" nillable="true" type="q9:ArrayOfDoctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_max_doctor_id">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_max_doctor_idResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_max_doctor_idResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>